# Ignore directories
__pycache__/
.model_cache/
.venv/
test/
meta-llama/
test/

# Ignore files
.env
*.db

# Ignore everything in .streamlit
.streamlit/*
# But don't ignore config.toml
!.streamlit/config.toml
